
/*
One Page Scroll CSS
*/

body, html {
	width: 100%;
	height: 100%;
	position: static;
	padding: 0;
	margin: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

section {
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}

/*
END One Page Scroll CSS 

------------------------------------------------------------------------------------------------------------

General CSS
*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

section {
	overflow: hidden;
}

section.white {
	background-color: #ecf0f1;
}

/*
END General CSS

------------------------------------------------------------------------------------------------------------

Welcome Section CSS
*/

section#welcome {
	background-color: #34495e;
}

section#welcome h1 {
	color: #233140;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome h2 {
	color: #7f8c8d;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome h3 {
	color: #7f8c8d;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome a {
	display: block;
	color: #7f8c8d;
	width: 17.5%;
	font-weight: 300;
	padding: 0.5em;
	margin: 1.5em auto;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #7f8c8d;
	cursor: pointer;
	transition: 0.5s background-color ease;
	-webkit-transition: 0.5s background-color ease;
}

section#welcome a:hover {
	background-color: #233140;
}

section#welcome img {
	display: block;
	min-width: 50px;
	margin: 0 auto;
	opacity: 1;
	cursor: pointer;
}

/*
END Welcome Section CSS
*/
