
/*
One Page Scroll CSS
*/

body, html {
	margin: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-moz-transition: opacity 400ms;
	transition: opacity 400ms;
}

body, section, html {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	height: 100%;
}

section {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	padding: 0;
	-webkit-transform-style: preserve-3d;
}

/*
END One Page Scroll CSS 

------------------------------------------------------------------------------------------------------------

General CSS
*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

section {
	overflow: hidden;
	background-color: #ecf0f1;
}

/*
END General CSS

------------------------------------------------------------------------------------------------------------

Welcome Section CSS
*/

section#welcome {
	background-color: #34495e;
}

section#welcome div {
	width: 100%;
}

section#welcome h1 {
	color: #233140;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome h2 {
	color: #7f8c8d;
	font-weight: 700;
	margin: 0;
	padding-top: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

section#welcome h3 {
	color: #7f8c8d;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

/*
END Welcome Section CSS
*/
