
/*
One Page Scroll CSS
*/

body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: rgba(0,0,0,0.85);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid black;
  margin-top: -4px;
  left: 8px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

/*
END One Page Scroll CSS 

------------------------------------------------------------------------------------------------------------

General CSS
*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

abbr {
  border-bottom: 1px #aaa dotted;
}

section {
	overflow: hidden;
}

section.white {
	background-color: #ecf0f1;
}

section.white h1 {
	width: 100%;
	margin: 0.5em 0;
  margin-bottom: 0.25em;
	color: #2980b9;
	font-weight: 300;
	text-align: center;
}

section.white p {
	display: block;
	color: #7f8c8d;
	width: 70%;
  font-weight: 300;
  text-align: center;
	margin: 0.5em auto;
}

section.white p span {
  color: #f1c40f;
}

/*
END General CSS

------------------------------------------------------------------------------------------------------------

Welcome Section CSS
*/

section#welcome {
	background-color: #34495e;
}

section#welcome h1 {
	color: #233140;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome h2 {
	color: #7f8c8d;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome h3 {
	color: #7f8c8d;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section#welcome a {
	display: block;
	color: #7f8c8d;
	width: 17.5%;
	font-weight: 300;
	padding: 0.5em;
	margin: 1.5em auto;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #7f8c8d;
	cursor: pointer;
	transition: 0.5s background-color ease;
	-webkit-transition: 0.5s background-color ease;
}

section#welcome a:hover {
	background-color: #233140;
}

section#welcome img {
	display: block;
	min-width: 50px;
	margin: 0 auto;
	opacity: 0.7;
	cursor: pointer;
}

/*
END Welcome Section CSS

------------------------------------------------------------------------------------------------------------

About Section CSS
*/

section#about div#services {
  width: 85%;
  padding: 0 10%;
}

section#about div#services div {
  display: inline-block;
  width: 22.5%;
  padding: 0 1.25%;
  vertical-align: top;
}

section#about div#services img {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

section#about div#services h3 {
  width: 100%;
  margin: 0.5em 0;
  color: #2980b9;
  font-weight: 400;
  text-align: center;
}

section#about div#services span {
  display: block;
  color: #7f8c8d;
  width: 100%;
  font-weight: 300;
  text-align: center;
  word-wrap: break-word;
}

/*
END About Section CSS

------------------------------------------------------------------------------------------------------------

Approach Section CSS
*/

section#approach {
  background-color: #1abc9c;
}

section#approach h1 {
  color: #138a72;
  font-weight: 300;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

section#approach h2 {
  color: #138a72;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

/*
END Approach Section CSS
*/
